<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="playGroundGroup">
      <section name="playGround" type="SharedComponent.Configurations.PlayGroundConfigSection, SharedComponent" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

  <!-- Configuration section settings area. -->
  <playGroundGroup>
    <playGround inUse="true">
      <author name="BurceWang" age="26" />
      <currencies>
        <currency name="USD">
          <travelPort hostAccessProfile="DynApolloProd_1JR1_2" userName="PCC1JR1HG" password="Hunt1J1HG" bsp="890" />
        </currency>
        <currency name="CAD">
          <travelPort hostAccessProfile="DynApolloProd_26WG_2" userName="GWS/PCCSHOPE" password="Hunt2015" bsp="954" />
        </currency>
      </currencies>
    </playGround>
  </playGroundGroup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="HelloGbyeDev" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HelloGByeDev;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
